fastapi==0.116.1
uvicorn[standard]==0.35.0
SQLAlchemy==2.0.41
PyMySQL==1.1.1
cryptography==43.0.3
psycopg[binary]==3.2.9
python-jose[cryptography]==3.5.0
python-multipart==0.0.32
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pydantic==2.11.7
pytest==8.4.1
httpx==0.28.1
